.App{
    width: 95%;
    
    margin: 2em auto;
    background:linear-gradient(
    185deg,
     rgba(0, 17, 29, 0.274) 0%,
     rgba(0, 0, 116, 0.158) 98%
    );
    border-radius: 5px;
    color: #fff;
}

.App input[type="checkbox"]{
    cursor: pointer;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid #6781a1;
    text-align: center;
    
}

.todo-header h1{
    margin: 0;
}

.form-todo h2, .list-todo h2{
    text-align: center;
    margin-top: 0;
}

.form-todo{
    text-align: center;
    padding: 1em;
    margin: 0.2em;
    border-bottom: 1px solid #6781a1;
}

.form{
    
    border-radius: 5px;
    margin-left: 35%;
    padding: 2em;
    width: 25%;
}

.delete-button{
    
    border-radius: 5px;
    margin-left: 35%;
    padding: 2em;
    width: 25%;
}

.form-control{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    font-size: 1.0em;
    margin-bottom: 0.4em;
}
.form-control input{
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #456791;
    padding: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}


.list-todo{
    text-align: center;
    padding: 0 1em 2em;
    margin: 1em 2em;

}

.list-todo h2{
    margin-bottom: 0;
}

.list-todo p{
    text-align: center;
}

.todo{
    border-bottom: 1px solid #6781a1;
    padding: 1em 0;
}

.todo h3{
    margin-bottom: .5em;
}

.todo p{
    text-align: center;
    font-size: 1em;
    margin-bottom: 1.5em;
}

.todo svg{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.todo svg:hover{
    color: aquamarine;
}

input[type="submit"]{

    background-color: #6DA2E3;
    color: #eee;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    margin: 0.5px;
}
.year-picking{

    border: 1px solid #222;
    border-radius: 2px;
    background-color: #456791;
    padding: 0.4em;
    margin: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 45%;
}
select{
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #456791;
    padding: 0.4em;
    margin: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 45%;
}

button{
    background-color: #6DA2E3;
    color: #eee;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    margin: 0.5px;
}

.total-value{
    text-align: center;
    padding: 1em;
}

.total-value-container{
    background-color: rgba(24, 37, 37, 0.08);
    margin-top: 2em;
    width: 100%;
}

.filter-todo{
    border-radius: 5px;
    margin-left: 35%;
    padding: 2em;
    width: 25%;
}

.filter-todo svg{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.filter-todo svg:hover{
    color: aquamarine;
}